### Question 1

Create the Table BUSES with the following columns:



LICENSE_PLATE: It's an alphanumeric string that identifies the bus. The column's data type is CHAR(8) and must not contain nulls.
SEATS: It's the total number of seats on the bus. The column's data type is INTEGER and the default value is 50.
BUILD_DATE: It's the date the bus was built. The column's data type is DATE.
MAINTENANCE: It's a boolean data type specifying whether the bus is currently in maintenance mode or not.


This table contains one row for every bus in the company. 

Please, insert the following 5 buses into the table using 1 single SQL statement:

| LICENSE_PLATE | SEATS | BUILD_DATE | MAINTENANCE |
| ----------- | ----------- | ----------- | ----------- |
| 2471 HJS | 48 | 2000-01-30 | unknown |
| 6583 ZML | 30 | 2014-01-01 | NO |
| 2448 GHI | 60 | 2013-12-04 | ​NO |
| 4646 BCD | 53 | unknown | YES |
| 2896 BMS | default | unknown | YES |

In [ ]:
CREATE TABLE BUSES(
LICENSE_PLATE CHAR(8) NOT NULL,
SEATS INTEGER DEFAULT 50,
BUILD_DATE DATE,
MAINTENANCE BOOLEAN);

INSERT INTO BUSES VALUES
('2471 HJS', 48, '2000-01-30', NULL),
('6583 ZML', 30, '2014-01-01', FALSE),
('2448 GHI', 60, '2013-12-04', FALSE),
('4646 BCD', 53, NULL, TRUE), 
('2896 BMS', DEFAULT, NULL, TRUE);

### Question 2

Matthew bought a new bus, with license number 4040 YMC, and built date on August 5th, 2019. He doesn't care about the number of seats the bus has. In fact, he doesn't even know the number of seats it's got. He didn't spend his time counting the number of seats on the bus. Even loading a NULL value in this attribute will be acceptable for him. The same goes for maintenance. Any value is acceptable, true, false, or null.

Which of the following statements will insert the row in the table with the data expected by Matthew?

In [ ]:
-- ANSWER A (Not correct)
INSERT INTO BUSES (LICENSE_PLATE, SEATS, BUILD_DATE)
VALUES ('4040 YMC', DEFAULT, '2019-05-08'); --This month and day is not correct

In [ ]:
-- ANSWER B (Correct)
INSERT INTO BUSES (LICENSE_PLATE, BUILD_DATE, SEATS)
VALUES ('4040 YMC', '2019-08-05', DEFAULT);

In [ ]:
-- ANSWER C (Correct)
INSERT INTO BUSES VALUES ('4040 YMC', NULL, '2019-08-05', 'TRUE'); --Need to check if NULL will be set to default and if 'TRUE' works

In [ ]:
-- ANSWER D (I think its correct)
INSERT INTO BUSES
VALUES ('4040 YMC', DEFAULT, '2019-08-05', FALSE);

In [ ]:
-- ANSWER E (I think its correct)
INSERT INTO BUSES (BUILD_DATE, LICENSE_PLATE)
VALUES ('2019-08-05', '4040 YMC')

### Question 3

Marcus went and bought a used bus, with license number 6488 JBF. This bus has 50 seats. But nobody knows the built date of the bus.  

Which of the following statements will insert the bus in the table successfully with the correct data?

In [4]:
-- ANSWER A (Incorrect)
INSERT INTO BUSES VALUES ('6488 JBF', DEFAULT, 'NULL');

SyntaxError: invalid syntax (913129985.py, line 1)

In [ ]:
-- ANSWER B (Maybe)
INSERT INTO BUSES VALUES ('6844 JBF', DEFAULT, NULL);

In [ ]:
-- ANSWER C (Maybe)
INSERT INTO BUSES VALUES ('6844 JBF', NULL, NULL);

In [ ]:
-- ANSWER D (Maybe)
INSERT INTO BUSES (SEATS, LICENSE_PLATE) VALUES (DEFAULT, '6844 JBF');

In [ ]:
-- ANSWER E (Maybe)
INSERT INTO BUSES (LICENSE_PLATE) VALUES ('6844 JBF');

### Question 4

Martin asked the company to increase 5 seats for each bus. Which of the following statements will update the number of seats on the table?

In [ ]:
-- ANSWER A
UPDATE BUSES SET SEATS = 5 + SEATS WHERE LICENSE_PLATE IS NOT NULL;

In [ ]:
-- ANSWER B
UPDATE BUSES SET (SEATS + 5) = SEATS;

In [ ]:
-- ANSWER C
UPDATE BUSES SET SEATS = (5 + SEATS);

In [ ]:
-- ANSWER D
UPDATE BUSES SET SEATS = SEATS + 5

In [ ]:
-- ANSWER E
UPDATE BUSES SET SEATS = SEATS X 5

### Question 10

From now on, all exercises will be related to the EMPLOYEE table. You'll have this table accessible by DBeaver.  
  
The total salary of each employee is computed by adding the amount of columns SALARY, BONUS, and COMM.  
  
Can you show us, the SQL statement you will have to use, to obtain the employee’s department, last name, and total salary, but only for departments beginning with the letter B or C? We want the information for only 5 employees. Please order the output by the total salary in descending mode and then the department in ascending mode. You'll also have to include the result of the statement in this exercise to obtain all points.

In [ ]:
SELECT WORKDEPT, LASTNAME, (COALESCE(SALARY, 0) + COALESCE(BONUS, 0) + COALESCE(COMM, 0)) AS TOTALSALARY
FROM EMPLOYEE
WHERE WORKDEPT LIKE 'B%' OR WORKDEPT LIKE 'C%'
ORDER BY TOTALSALARY DESC, WORKDEPT ASC
LIMIT 5;

| DEPARTMENT | LASTNAME | SALARY |
| ----------- | ----------- | ----------- |
| B00 | Bury | 79799.27 |
| B00 | Paine | 78558.59 |
| C00 | Clough | 77578.86 |
| B00 | Compton | 77287.27 |
| C00 | Pitcher | 74518.45 |

### Question 23

On July the third 2024, how many business class tickets were sold to ladies?

In [ ]:
SELECT COUNT(*)
FROM TICKETS
WHERE CLASS = 'B'
AND PASSENGER_ID IN (
    SELECT GENDER
    FROM PASSENGERS
    WHERE GENDER = 'F')
AND FLIGHT_ID IN (
    SELECT FLIGHT_ID
    FROM FLIGHTS
    WHERE DEPARTURE = '2024-07-03');