### Question 1

Create the Table BUSES with the following columns:



LICENSE_PLATE: It's an alphanumeric string that identifies the bus. The column's data type is CHAR(8) and must not contain nulls.
SEATS: It's the total number of seats on the bus. The column's data type is INTEGER and the default value is 50.
BUILD_DATE: It's the date the bus was built. The column's data type is DATE.
MAINTENANCE: It's a boolean data type specifying whether the bus is currently in maintenance mode or not.


This table contains one row for every bus in the company. 

Please, insert the following 5 buses into the table using 1 single SQL statement:

| LICENSE_PLATE | SEATS | BUILD_DATE | MAINTENANCE |
| ----------- | ----------- | ----------- | ----------- |
| 2471 HJS | 48 | 2000-01-30 | unknown |
| 6583 ZML | 30 | 2014-01-01 | NO |
| 2448 GHI | 60 | 2013-12-04 | â€‹NO |
| 4646 BCD | 53 | unknown | YES |
| 2896 BMS | default | unknown | YES |

In [ ]:
CREATE TABLE BUSES(
LICENSE_PLATE CHAR(8) NOT NULL,
SEATS INTEGER DEFAULT 50,
BUILD_DATE DATE,
MAINTENANCE BOOLEAN);

INSERT INTO BUSES VALUES
('2471 HJS', 48, '2000-01-30', NULL),
('6583 ZML', 30, '2014-01-01', FALSE),
('2448 GHI', 60, '2013-12-04', FALSE),
('4646 BCD', 53, NULL, TRUE), 
('2896 BMS', DEFAULT, NULL, TRUE);

### Question 2

Matthew bought a new bus, with license number 4040 YMC, and built date on August 5th, 2019. He doesn't care about the number of seats the bus has. In fact, he doesn't even know the number of seats it's got. He didn't spend his time counting the number of seats on the bus. Even loading a NULL value in this attribute will be acceptable for him. The same goes for maintenance. Any value is acceptable, true, false, or null.

Which of the following statements will insert the row in the table with the data expected by Matthew?

In [ ]:
-- ANSWER A (Not correct)
INSERT INTO BUSES (LICENSE_PLATE, SEATS, BUILD_DATE)
VALUES ('4040 YMC', DEFAULT, '2019-05-08'); --This month and day is not correct

In [ ]:
-- ANSWER B (I think its correct)
INSERT INTO BUSES (LICENSE_PLATE, BUILD_DATE, SEATS)
VALUES ('4040 YMC', '2019-08-05', DEFAULT);

In [ ]:
-- ANSWER C (Maybe)
INSERT INTO BUSES VALUES ('4040 YMC', NULL, '2019-08-05', 'TRUE'); --Need to check if NULL will be set to default and if 'TRUE' works

In [ ]:
-- ANSWER D (I think its correct)
INSERT INTO BUSES
VALUES ('4040 YMC', DEFAULT, '2019-08-05', FALSE);

In [ ]:
-- ANSWER E (I think its correct)
INSERT INTO BUSES (BUILD_DATE, LICENSE_PLATE)
VALUES ('2019-08-05', '4040 YMC')