# Practice: 

In this we will do some work on the following topics:

* Dates and times with pandas
* Regular expressions with pandas
* Getting data from APIs with the `requests` library

The APIs that we are going to work with are the following:

* Position of the International Space Station (ISS)API
    * http://open-notify.org/Open-Notify-API/ISS-Location-Now/
    * For this API call, you just need to pass the URL and it will return the current position of the ISS.
* Kanye West quotes API
    * https://kanye.rest/
    * For this API call, you just need to pass the URL and it will return a random Kanye West quote.

### Exercise 1

Use the ISS API to get the current position of the ISS.

In [1]:
import requests 
import json 
import pandas as pd

request = requests.get('http://api.open-notify.org/iss-now.json')
df = pd.DataFrame(request.json())

df

          iss_position   timestamp  message
latitude      -21.8709  1738410888  success
longitude     146.9979  1738410888  success

### Exercise 2

If you check the `timestamp` value in the response, you will see that it is in Unix time. The Unix timestamp represents the number of seconds that have passed since the Unix epoch time (January 1, 1970). Convert this to a timestamp in ISO format (YYYY-MM-DD HH:MM:SS).

You can do that using the [pd.to_datetime()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) with the paramter `unit`. Choose the right unit to convert the Unix timestamp to a timestamp in ISO format.

In [2]:
df['time'] = pd.to_datetime(df['timestamp'], unit = 's')
df

          iss_position   timestamp  message                time
latitude      -21.8709  1738410888  success 2025-02-01 11:54:48
longitude     146.9979  1738410888  success 2025-02-01 11:54:48

### Exercise 3

Using the [sleep function](https://docs.python.org/3/library/time.html#time.sleep) from the `time` library, write a function that prints the current datetime every 5 seconds. The function should stop after 10 iterations.

You can use the function `pd.Timestamp.now()` to get the current datetime at each iteration.

In [3]:
import time 

def time_every_5_seconds():
    for i in range(10):
        print(pd.Timestamp.now())
        time.sleep(5)

time_every_5_seconds()

2025-02-01 12:54:49.297693
2025-02-01 12:54:54.302384
2025-02-01 12:54:59.315016
2025-02-01 12:55:04.324354
2025-02-01 12:55:09.334953
2025-02-01 12:55:14.337795
2025-02-01 12:55:19.351902
2025-02-01 12:55:24.353739
2025-02-01 12:55:29.368666
2025-02-01 12:55:34.380423

### Exercise 4

Create a function that receives the position of the ISS 10 times, using `sleep` to wait 5s between requests, and returns a list with the dictionaries from the responses.

In [5]:
import requests

requests.get('http://api.open-notify.org/iss-now.json').json()['timestamp']

1738411796

In [6]:
import time

def get_iss_position_10():
    list_of_responses = []
    for i in range(10):
        response = requests.get('http://api.open-notify.org/iss-now.json').json()
        list_of_responses.append(response)
        time.sleep(5)
    return list_of_responses

iss_positions = get_iss_position_10()

In [33]:
iss_positions

[{'message': 'success',
  'timestamp': 1738411799,
  'iss_position': {'latitude': '-51.5298', 'longitude': '-149.9491'}},
 {'message': 'success',
  'timestamp': 1738411805,
  'iss_position': {'latitude': '-51.5523', 'longitude': '-149.3518'}},
 {'message': 'success',
  'timestamp': 1738411810,
  'iss_position': {'latitude': '-51.5700', 'longitude': '-148.8038'}},
 {'message': 'success',
  'timestamp': 1738411816,
  'iss_position': {'latitude': '-51.5862', 'longitude': '-148.2057'}},
 {'message': 'success',
  'timestamp': 1738411825,
  'iss_position': {'latitude': '-51.6034', 'longitude': '-147.3578'}},
 {'message': 'success',
  'timestamp': 1738411830,
  'iss_position': {'latitude': '-51.6110', 'longitude': '-146.8090'}},
 {'message': 'success',
  'timestamp': 1738411835,
  'iss_position': {'latitude': '-51.6155', 'longitude': '-146.3098'}},
 {'message': 'success',
  'timestamp': 1738411842,
  'iss_position': {'latitude': '-51.6179', 'longitude': '-145.6608'}},
 {'message': 'success',
  'timestamp': 1738411848,
  'iss_position': {'latitude': '-51.6164', 'longitude': '-145.0116'}},
 {'message': 'success',
  'timestamp': 1738411860,
  'iss_position': {'latitude': '-51.6035', 'longitude': '-143.8138'}}]

### Exercise 5

Create a DataFrame with the responses from the previous exercise. The DataFrame should have the following columns:

* `timestamp`: the timestamp of the response
* `latitude`: the latitude of the ISS
* `longitude`: the longitude of the ISS

In [99]:
import pandas as pd

new_df = pd.DataFrame(iss_positions)

new_df['latitude'] = new_df['iss_position'].apply(lambda x: x['latitude'])
new_df['longitude'] = new_df['iss_position'].apply(lambda x: x['longitude'])

df_cleaned = new_df.drop(columns = ['iss_position', 'message'])
df_cleaned['timestamp'] = pd.to_datetime(df_cleaned['timestamp'], unit = 's')
df_cleaned

            timestamp  latitude  longitude
0 2025-02-01 12:09:59  -51.5298  -149.9491
1 2025-02-01 12:10:05  -51.5523  -149.3518
2 2025-02-01 12:10:10  -51.5700  -148.8038
3 2025-02-01 12:10:16  -51.5862  -148.2057
4 2025-02-01 12:10:25  -51.6034  -147.3578
5 2025-02-01 12:10:30  -51.6110  -146.8090
6 2025-02-01 12:10:35  -51.6155  -146.3098
7 2025-02-01 12:10:42  -51.6179  -145.6608
8 2025-02-01 12:10:48  -51.6164  -145.0116
9 2025-02-01 12:11:00  -51.6035  -143.8138

In [100]:
df_cleaned['latitude'] = df_cleaned['latitude'].astype(float)
df_cleaned['longitude'] = df_cleaned['longitude'].astype(float)

df_cleaned

            timestamp  latitude  longitude
0 2025-02-01 12:09:59  -51.5298  -149.9491
1 2025-02-01 12:10:05  -51.5523  -149.3518
2 2025-02-01 12:10:10  -51.5700  -148.8038
3 2025-02-01 12:10:16  -51.5862  -148.2057
4 2025-02-01 12:10:25  -51.6034  -147.3578
5 2025-02-01 12:10:30  -51.6110  -146.8090
6 2025-02-01 12:10:35  -51.6155  -146.3098
7 2025-02-01 12:10:42  -51.6179  -145.6608
8 2025-02-01 12:10:48  -51.6164  -145.0116
9 2025-02-01 12:11:00  -51.6035  -143.8138

### Exercise 6

Read about the `diff` method in pandas and use it to calculate the differences between the timestamp of each request. Why is it not 1s?

In [101]:
df_cleaned['timestamp_diff_seconds'] = df_cleaned['timestamp'].diff().dt.seconds
df_cleaned # It is not 1 second because the response time as well as the time.sleep(5)

            timestamp  latitude  longitude  timestamp_diff_seconds
0 2025-02-01 12:09:59  -51.5298  -149.9491                     NaN
1 2025-02-01 12:10:05  -51.5523  -149.3518                     6.0
2 2025-02-01 12:10:10  -51.5700  -148.8038                     5.0
3 2025-02-01 12:10:16  -51.5862  -148.2057                     6.0
4 2025-02-01 12:10:25  -51.6034  -147.3578                     9.0
5 2025-02-01 12:10:30  -51.6110  -146.8090                     5.0
6 2025-02-01 12:10:35  -51.6155  -146.3098                     5.0
7 2025-02-01 12:10:42  -51.6179  -145.6608                     7.0
8 2025-02-01 12:10:48  -51.6164  -145.0116                     6.0
9 2025-02-01 12:11:00  -51.6035  -143.8138                    12.0

            timestamp  latitude  longitude  timestamp_diff
0 2025-01-28 10:40:37  -49.3484  -121.6249             NaN
1 2025-01-28 10:40:42  -49.4549  -121.1270             5.0
2 2025-01-28 10:40:47  -49.5497  -120.6724             5.0
3 2025-01-28 10:40:53  -49.6517  -120.1703             6.0
4 2025-01-28 10:40:59  -49.7691  -119.5740             6.0
5 2025-01-28 10:41:06  -49.8832  -118.9748             7.0
6 2025-01-28 10:41:11  -49.9686  -118.5119             5.0
7 2025-01-28 10:41:16  -50.0602  -118.0009             5.0
8 2025-01-28 10:41:24  -50.1812  -117.3006             8.0
9 2025-01-28 10:41:29  -50.2670  -116.7846             5.0

### Exercise 7

I've change my mind and now we need a new column that contains tuples with the latitude and longitude of the ISS. Create this column.

In [104]:
df_cleaned['tuple_lon_lat'] = list(zip(df_cleaned['latitude'], df_cleaned['longitude']))

df_cleaned

,timestamp,latitude,longitude,timestamp_diff_seconds,tuple_lon_lat
0,2025-02-01 12:09:59,-51.5298,-149.9491,NaN,"(-51.5298, -149.9491)"
1,2025-02-01 12:10:05,-51.5523,-149.3518,6.0,"(-51.5523, -149.3518)"
2,2025-02-01 12:10:10,-51.5700,-148.8038,5.0,"(-51.57, -148.8038)"
3,2025-02-01 12:10:16,-51.5862,-148.2057,6.0,"(-51.5862, -148.2057)"
4,2025-02-01 12:10:25,-51.6034,-147.3578,9.0,"(-51.6034, -147.3578)"
5,2025-02-01 12:10:30,-51.6110,-146.8090,5.0,"(-51.611, -146.809)"
6,2025-02-01 12:10:35,-51.6155,-146.3098,5.0,"(-51.6155, -146.3098)"
7,2025-02-01 12:10:42,-51.6179,-145.6608,7.0,"(-51.6179, -145.6608)"
8,2025-02-01 12:10:48,-51.6164,-145.0116,6.0,"(-51.6164, -145.0116)"
9,2025-02-01 12:11:00,-51.6035,-143.8138,12.0,"(-51.6035, -143.8138)"

,timestamp,latitude,longitude,timestamp_diff,position_tuple
0,2025-01-28 10:40:37,-49.3484,-121.6249,NaN,"(-49.3484, -121.6249)"
1,2025-01-28 10:40:42,-49.4549,-121.1270,5.0,"(-49.4549, -121.127)"
2,2025-01-28 10:40:47,-49.5497,-120.6724,5.0,"(-49.5497, -120.6724)"
3,2025-01-28 10:40:53,-49.6517,-120.1703,6.0,"(-49.6517, -120.1703)"
4,2025-01-28 10:40:59,-49.7691,-119.5740,6.0,"(-49.7691, -119.574)"
5,2025-01-28 10:41:06,-49.8832,-118.9748,7.0,"(-49.8832, -118.9748)"
6,2025-01-28 10:41:11,-49.9686,-118.5119,5.0,"(-49.9686, -118.5119)"
7,2025-01-28 10:41:16,-50.0602,-118.0009,5.0,"(-50.0602, -118.0009)"
8,2025-01-28 10:41:24,-50.1812,-117.3006,8.0,"(-50.1812, -117.3006)"
9,2025-01-28 10:41:29,-50.2670,-116.7846,5.0,"(-50.267, -116.7846)"

### Exercise 8

Take the column with the tuples, and zip it to itself in this way:

```python
df['new_column'] = list(zip(df['position'].shift(), df['position']))
```

In [105]:
df_cleaned['pos_start_end'] = list(zip(df_cleaned['tuple_lon_lat'].shift(), df_cleaned['tuple_lon_lat']))

df_cleaned

,timestamp,latitude,longitude,timestamp_diff_seconds,tuple_lon_lat,pos_start_end
0,2025-02-01 12:09:59,-51.5298,-149.9491,NaN,"(-51.5298, -149.9491)","(None, (-51.5298, -149.9491))"
1,2025-02-01 12:10:05,-51.5523,-149.3518,6.0,"(-51.5523, -149.3518)","((-51.5298, -149.9491), (-51.5523, -149.3518))"
2,2025-02-01 12:10:10,-51.5700,-148.8038,5.0,"(-51.57, -148.8038)","((-51.5523, -149.3518), (-51.57, -148.8038))"
3,2025-02-01 12:10:16,-51.5862,-148.2057,6.0,"(-51.5862, -148.2057)","((-51.57, -148.8038), (-51.5862, -148.2057))"
4,2025-02-01 12:10:25,-51.6034,-147.3578,9.0,"(-51.6034, -147.3578)","((-51.5862, -148.2057), (-51.6034, -147.3578))"
5,2025-02-01 12:10:30,-51.6110,-146.8090,5.0,"(-51.611, -146.809)","((-51.6034, -147.3578), (-51.611, -146.809))"
6,2025-02-01 12:10:35,-51.6155,-146.3098,5.0,"(-51.6155, -146.3098)","((-51.611, -146.809), (-51.6155, -146.3098))"
7,2025-02-01 12:10:42,-51.6179,-145.6608,7.0,"(-51.6179, -145.6608)","((-51.6155, -146.3098), (-51.6179, -145.6608))"
8,2025-02-01 12:10:48,-51.6164,-145.0116,6.0,"(-51.6164, -145.0116)","((-51.6179, -145.6608), (-51.6164, -145.0116))"
9,2025-02-01 12:11:00,-51.6035,-143.8138,12.0,"(-51.6035, -143.8138)","((-51.6164, -145.0116), (-51.6035, -143.8138))"

,timestamp,latitude,longitude,timestamp_diff,position_tuple,pos_start_end
0,2025-01-28 10:40:37,-49.3484,-121.6249,NaN,"(-49.3484, -121.6249)","(None, (-49.3484, -121.6249))"
1,2025-01-28 10:40:42,-49.4549,-121.1270,5.0,"(-49.4549, -121.127)","((-49.3484, -121.6249), (-49.4549, -121.127))"
2,2025-01-28 10:40:47,-49.5497,-120.6724,5.0,"(-49.5497, -120.6724)","((-49.4549, -121.127), (-49.5497, -120.6724))"
3,2025-01-28 10:40:53,-49.6517,-120.1703,6.0,"(-49.6517, -120.1703)","((-49.5497, -120.6724), (-49.6517, -120.1703))"
4,2025-01-28 10:40:59,-49.7691,-119.5740,6.0,"(-49.7691, -119.574)","((-49.6517, -120.1703), (-49.7691, -119.574))"
5,2025-01-28 10:41:06,-49.8832,-118.9748,7.0,"(-49.8832, -118.9748)","((-49.7691, -119.574), (-49.8832, -118.9748))"
6,2025-01-28 10:41:11,-49.9686,-118.5119,5.0,"(-49.9686, -118.5119)","((-49.8832, -118.9748), (-49.9686, -118.5119))"
7,2025-01-28 10:41:16,-50.0602,-118.0009,5.0,"(-50.0602, -118.0009)","((-49.9686, -118.5119), (-50.0602, -118.0009))"
8,2025-01-28 10:41:24,-50.1812,-117.3006,8.0,"(-50.1812, -117.3006)","((-50.0602, -118.0009), (-50.1812, -117.3006))"
9,2025-01-28 10:41:29,-50.2670,-116.7846,5.0,"(-50.267, -116.7846)","((-50.1812, -117.3006), (-50.267, -116.7846))"

In [54]:
def ensure_floats(pos_tuple):
    cord1, cord2 = pos_tuple
    cord1 = tuple(float(x) for x in cord1) if cord1 is not None else cord2
    cord2 = tuple(float(x) for x in cord2)
    return (cord1, cord2)

df_cleaned['pos_start_end'] = df_cleaned['pos_start_end'].apply(ensure_floats)
df_cleaned

,timestamp,latitude,longitute,timestamp_diff_seconds,tuple_lon_lat,pos_start_end
0,2025-02-01 12:09:59,-149.9491,-149.9491,NaN,"(-149.9491, -149.9491)","((-149.9491, -149.9491), (-149.9491, -149.9491))"
1,2025-02-01 12:10:05,-149.3518,-149.3518,6.0,"(-149.3518, -149.3518)","((-149.9491, -149.9491), (-149.3518, -149.3518))"
2,2025-02-01 12:10:10,-148.8038,-148.8038,5.0,"(-148.8038, -148.8038)","((-149.3518, -149.3518), (-148.8038, -148.8038))"
3,2025-02-01 12:10:16,-148.2057,-148.2057,6.0,"(-148.2057, -148.2057)","((-148.8038, -148.8038), (-148.2057, -148.2057))"
4,2025-02-01 12:10:25,-147.3578,-147.3578,9.0,"(-147.3578, -147.3578)","((-148.2057, -148.2057), (-147.3578, -147.3578))"
5,2025-02-01 12:10:30,-146.8090,-146.8090,5.0,"(-146.8090, -146.809)","((-147.3578, -147.3578), (-146.809, -146.809))"
6,2025-02-01 12:10:35,-146.3098,-146.3098,5.0,"(-146.3098, -146.3098)","((-146.809, -146.809), (-146.3098, -146.3098))"
7,2025-02-01 12:10:42,-145.6608,-145.6608,7.0,"(-145.6608, -145.6608)","((-146.3098, -146.3098), (-145.6608, -145.6608))"
8,2025-02-01 12:10:48,-145.0116,-145.0116,6.0,"(-145.0116, -145.0116)","((-145.6608, -145.6608), (-145.0116, -145.0116))"
9,2025-02-01 12:11:00,-143.8138,-143.8138,12.0,"(-143.8138, -143.8138)","((-145.0116, -145.0116), (-143.8138, -143.8138))"

In [106]:
def replace_none(tuple):
    one, two = tuple
    if one == None:
        one = two
    return one, two

df_cleaned['pos_start_end'] = df_cleaned['pos_start_end'].apply(replace_none)
df_cleaned

,timestamp,latitude,longitude,timestamp_diff_seconds,tuple_lon_lat,pos_start_end
0,2025-02-01 12:09:59,-51.5298,-149.9491,NaN,"(-51.5298, -149.9491)","((-51.5298, -149.9491), (-51.5298, -149.9491))"
1,2025-02-01 12:10:05,-51.5523,-149.3518,6.0,"(-51.5523, -149.3518)","((-51.5298, -149.9491), (-51.5523, -149.3518))"
2,2025-02-01 12:10:10,-51.5700,-148.8038,5.0,"(-51.57, -148.8038)","((-51.5523, -149.3518), (-51.57, -148.8038))"
3,2025-02-01 12:10:16,-51.5862,-148.2057,6.0,"(-51.5862, -148.2057)","((-51.57, -148.8038), (-51.5862, -148.2057))"
4,2025-02-01 12:10:25,-51.6034,-147.3578,9.0,"(-51.6034, -147.3578)","((-51.5862, -148.2057), (-51.6034, -147.3578))"
5,2025-02-01 12:10:30,-51.6110,-146.8090,5.0,"(-51.611, -146.809)","((-51.6034, -147.3578), (-51.611, -146.809))"
6,2025-02-01 12:10:35,-51.6155,-146.3098,5.0,"(-51.6155, -146.3098)","((-51.611, -146.809), (-51.6155, -146.3098))"
7,2025-02-01 12:10:42,-51.6179,-145.6608,7.0,"(-51.6179, -145.6608)","((-51.6155, -146.3098), (-51.6179, -145.6608))"
8,2025-02-01 12:10:48,-51.6164,-145.0116,6.0,"(-51.6164, -145.0116)","((-51.6179, -145.6608), (-51.6164, -145.0116))"
9,2025-02-01 12:11:00,-51.6035,-143.8138,12.0,"(-51.6035, -143.8138)","((-51.6164, -145.0116), (-51.6035, -143.8138))"

### Exercise 9

Use the `haversine` [library](https://pypi.org/project/haversine/) with a lambda function on the column with the two positions you just calcualted, to calculate the distance between two points. How can you deal with the NaN values in the first row?

The usage of the haversine library is as follows:

```python
from haversine import haversine

coord1 = (52.2296756, 21.0122287) # (lat, lon)
coord2 = (52.406374, 16.9251681) # (lat, lon)

haversine(coord1, coord2) # distance in km
```

Now calcualte the speed of the ISS between two points. The speed should be stored in a new column in the DataFrame, as km/h.
$$speed = \frac{distance}{time}$$


Extra: If you want to calculate manually the distance between two points given their latitude and longitude, you can use the [haversine formula](https://en.wikipedia.org/wiki/Haversine_formula).

In [107]:
from haversine import haversine

def haversine_distance(tuple):
    cord1 = tuple[0]
    cord2 = tuple[1]
    return haversine(cord1, cord2)

df_cleaned['distance'] = df_cleaned['pos_start_end'].apply(haversine_distance)
df_cleaned

,timestamp,latitude,longitude,timestamp_diff_seconds,tuple_lon_lat,pos_start_end,distance
0,2025-02-01 12:09:59,-51.5298,-149.9491,NaN,"(-51.5298, -149.9491)","((-51.5298, -149.9491), (-51.5298, -149.9491))",0.000000
1,2025-02-01 12:10:05,-51.5523,-149.3518,6.0,"(-51.5523, -149.3518)","((-51.5298, -149.9491), (-51.5523, -149.3518))",41.383772
2,2025-02-01 12:10:10,-51.5700,-148.8038,5.0,"(-51.57, -148.8038)","((-51.5523, -149.3518), (-51.57, -148.8038))",37.932956
3,2025-02-01 12:10:16,-51.5862,-148.2057,6.0,"(-51.5862, -148.2057)","((-51.57, -148.8038), (-51.5862, -148.2057))",41.368956
4,2025-02-01 12:10:25,-51.6034,-147.3578,9.0,"(-51.6034, -147.3578)","((-51.5862, -148.2057), (-51.6034, -147.3578))",58.600841
5,2025-02-01 12:10:30,-51.6110,-146.8090,5.0,"(-51.611, -146.809)","((-51.6034, -147.3578), (-51.611, -146.809))",37.908157
6,2025-02-01 12:10:35,-51.6155,-146.3098,5.0,"(-51.6155, -146.3098)","((-51.611, -146.809), (-51.6155, -146.3098))",34.472538
7,2025-02-01 12:10:42,-51.6179,-145.6608,7.0,"(-51.6179, -145.6608)","((-51.6155, -146.3098), (-51.6179, -145.6608))",44.809668
8,2025-02-01 12:10:48,-51.6164,-145.0116,6.0,"(-51.6164, -145.0116)","((-51.6179, -145.6608), (-51.6164, -145.0116))",44.822548
9,2025-02-01 12:11:00,-51.6035,-143.8138,12.0,"(-51.6035, -143.8138)","((-51.6164, -145.0116), (-51.6035, -143.8138))",82.723725

,timestamp,latitude,longitude,timestamp_diff,position_tuple,pos_start_end,distance,speed_kmh
0,2025-01-28 10:40:37,-49.3484,-121.6249,NaN,"(-49.3484, -121.6249)","((-49.3484, -121.6249), (-49.3484, -121.6249))",0.000000,NaN
1,2025-01-28 10:40:42,-49.4549,-121.1270,5.0,"(-49.4549, -121.127)","((-49.3484, -121.6249), (-49.4549, -121.127))",37.924522,27305.655643
2,2025-01-28 10:40:47,-49.5497,-120.6724,5.0,"(-49.5497, -120.6724)","((-49.4549, -121.127), (-49.5497, -120.6724))",34.478472,24824.499938
3,2025-01-28 10:40:53,-49.6517,-120.1703,6.0,"(-49.6517, -120.1703)","((-49.5497, -120.6724), (-49.6517, -120.1703))",37.920498,22752.298810
4,2025-01-28 10:40:59,-49.7691,-119.5740,6.0,"(-49.7691, -119.574)","((-49.6517, -120.1703), (-49.7691, -119.574))",44.819711,26891.826756
5,2025-01-28 10:41:06,-49.8832,-118.9748,7.0,"(-49.8832, -118.9748)","((-49.7691, -119.574), (-49.8832, -118.9748))",44.815637,23048.041945
6,2025-01-28 10:41:11,-49.9686,-118.5119,5.0,"(-49.9686, -118.5119)","((-49.8832, -118.9748), (-49.9686, -118.5119))",34.470406,24818.692208
7,2025-01-28 10:41:16,-50.0602,-118.0009,5.0,"(-50.0602, -118.0009)","((-49.9686, -118.5119), (-50.0602, -118.0009))",37.906646,27292.784971
8,2025-01-28 10:41:24,-50.1812,-117.3006,8.0,"(-50.1812, -117.3006)","((-50.0602, -118.0009), (-50.1812, -117.3006))",51.708922,23269.014804
9,2025-01-28 10:41:29,-50.2670,-116.7846,5.0,"(-50.267, -116.7846)","((-50.1812, -117.3006), (-50.267, -116.7846))",37.928249,27308.339109

### Exercise 10

Let's change APIs. Use the Kanye West API to get 10 quotes. Create a DataFrame with the quotes and the timestamp of the request.

In this API you don't get the timestamp. Build it yourself with the `pd.Timestamp.now()` function.

In [111]:
import requests

def get_10_quotes():
    list_of_responses = []
    for i in range(10):
        response = requests.get('https://api.kanye.rest').json()
        response['timestamp'] = pd.Timestamp.now()
        list_of_responses.append(response)
    return list_of_responses

kanye_quotes = get_10_quotes()
kanye_quotes

[{'quote': 'So many of us need so much less than we have especially when so many of us are in need',
  'timestamp': Timestamp('2025-02-01 14:09:18.014717')},
 {'quote': 'Believe in your flyness...conquer your shyness.',
  'timestamp': Timestamp('2025-02-01 14:09:18.063685')},
 {'quote': "George Bush doesn't care about black people",
  'timestamp': Timestamp('2025-02-01 14:09:18.098189')},
 {'quote': 'The media tries to kill our heroes one at a time',
  'timestamp': Timestamp('2025-02-01 14:09:18.129609')},
 {'quote': "My mama was a' English teacher. I know how to use correct English but sometimes I just don't feel like it aaaand I ain't got to",
  'timestamp': Timestamp('2025-02-01 14:09:18.174088')},
 {'quote': 'People tried to talk me out of running for President. Never let weak controlling people kill your spirit',
  'timestamp': Timestamp('2025-02-01 14:09:18.228108')},
 {'quote': 'I feel calm but energized',
  'timestamp': Timestamp('2025-02-01 14:09:18.262650')},
 {'quote': 'I honestly need all my Royeres to be museum quality... if I see a fake Royere Ima have to Rick James your couch',
  'timestamp': Timestamp('2025-02-01 14:09:18.292553')},
 {'quote': 'Sometimes you have to get rid of everything',
  'timestamp': Timestamp('2025-02-01 14:09:18.329374')},
 {'quote': 'For me giving up is way harder than trying.',
  'timestamp': Timestamp('2025-02-01 14:09:18.376180')}]

In [112]:
kanye_quotes_df = pd.DataFrame(kanye_quotes)
kanye_quotes_df

,quote,timestamp
0,So many of us need so much less than we have e...,2025-02-01 14:09:18.014717
1,Believe in your flyness...conquer your shyness.,2025-02-01 14:09:18.063685
2,George Bush doesn't care about black people,2025-02-01 14:09:18.098189
3,The media tries to kill our heroes one at a time,2025-02-01 14:09:18.129609
4,My mama was a' English teacher. I know how to ...,2025-02-01 14:09:18.174088
5,People tried to talk me out of running for Pre...,2025-02-01 14:09:18.228108
6,I feel calm but energized,2025-02-01 14:09:18.262650
7,I honestly need all my Royeres to be museum qu...,2025-02-01 14:09:18.292553
8,Sometimes you have to get rid of everything,2025-02-01 14:09:18.329374
9,For me giving up is way harder than trying.,2025-02-01 14:09:18.376180

### Exercise 11

Convert it into a Dataframe and, using regex and `findall` to count the words in each quote. Save it as a new column.

In [120]:
import re

def count_words(quote):
    return len(re.findall(r"\b\w+(?:'\w+)?\b", quote))

kanye_quotes_df['word_count'] = kanye_quotes_df['quote'].apply(count_words)
kanye_quotes_df

,quote,timestamp,word_count
0,So many of us need so much less than we have e...,2025-02-01 14:09:18.014717,20
1,Believe in your flyness...conquer your shyness.,2025-02-01 14:09:18.063685,7
2,George Bush doesn't care about black people,2025-02-01 14:09:18.098189,7
3,The media tries to kill our heroes one at a time,2025-02-01 14:09:18.129609,11
4,My mama was a' English teacher. I know how to ...,2025-02-01 14:09:18.174088,26
5,People tried to talk me out of running for Pre...,2025-02-01 14:09:18.228108,18
6,I feel calm but energized,2025-02-01 14:09:18.262650,5
7,I honestly need all my Royeres to be museum qu...,2025-02-01 14:09:18.292553,23
8,Sometimes you have to get rid of everything,2025-02-01 14:09:18.329374,8
9,For me giving up is way harder than trying.,2025-02-01 14:09:18.376180,9

,quote,timestamp,count_words
0,I am running for President of the United States,2025-01-28 11:49:36.254744,9
1,Let's be like water,2025-01-28 11:49:41.341841,5
2,I am one of the most famous people on the planet,2025-01-28 11:49:46.416351,11
3,People always say that you can't please everyb...,2025-01-28 11:49:51.491018,33
4,2024,2025-01-28 11:49:56.566302,1
5,Decentralize,2025-01-28 11:50:01.638714,1
6,I watch Bladerunner on repeat,2025-01-28 11:50:06.742456,5
7,You can't look at a glass half full or empty i...,2025-01-28 11:50:11.800766,15
8,Sometimes you have to get rid of everything,2025-01-28 11:50:16.874773,8
9,I've known my mom since I was zero years old. ...,2025-01-28 11:50:21.984768,15

### Exercise 12

Create a new column that contains a boolean value that is True if the quote contains the word "I" and False otherwise.

Read about the `\b` regex pattern and use it.

In [123]:
import re

def count_words(quote):
    return bool(re.search(r"\bI\b", quote))

kanye_quotes_df['contains_i'] = kanye_quotes_df['quote'].apply(count_words)
kanye_quotes_df

,quote,timestamp,word_count,contains_i
0,So many of us need so much less than we have e...,2025-02-01 14:09:18.014717,20,False
1,Believe in your flyness...conquer your shyness.,2025-02-01 14:09:18.063685,7,False
2,George Bush doesn't care about black people,2025-02-01 14:09:18.098189,7,False
3,The media tries to kill our heroes one at a time,2025-02-01 14:09:18.129609,11,False
4,My mama was a' English teacher. I know how to ...,2025-02-01 14:09:18.174088,26,True
5,People tried to talk me out of running for Pre...,2025-02-01 14:09:18.228108,18,False
6,I feel calm but energized,2025-02-01 14:09:18.262650,5,True
7,I honestly need all my Royeres to be museum qu...,2025-02-01 14:09:18.292553,23,True
8,Sometimes you have to get rid of everything,2025-02-01 14:09:18.329374,8,False
9,For me giving up is way harder than trying.,2025-02-01 14:09:18.376180,9,False