### SESSION 1: VARIABLES & TYPES

We can use the `id` function to check the memory address of a variable.

In [1]:
a = 5
print(id(a))

2007227433328

We can take the absolute value (or magnitude) of a numeric type by using `abs`

In [2]:
# I forgot this cell in our class:
# abs() will return the absolute value of a number -- the number without the sign

abs(-4)

4

Square root function without using a library

In [4]:
x = 20

squareroot = x**(1/2)
print(squareroot)

4.47213595499958

### SESSION 3: STRING OPERATIONS

In [31]:
test_string = "   heLLo wORld   "
test = 'This is a test scentence'

print(test_string.title())
print(test_string.swapcase())
print(test_string.strip(' ')) #lstrip & rstrip (for left and right)
print(test_string.startswith(' '))
print(test_string.endswith('    '))
print(test_string.replace('he', 'je'))
print(test_string.split()) #can also split by something else than spaces
print('XX'.join(test_string.split()))
print(test.find('is'))

   Hello World
   HEllO WorLD
heLLo wORld
True
False
   jeLLo wORld
['heLLo', 'wORld']
heLLoXXwORld
2

```python
string[start:stop:[step]]
```

* `start`: The index of the first element to include in the slice, inclusive. The default value is `0`.
* `stop`: The index of the last element to include in the slice, exclusive. The default value is the length of the sequence minus `1`.
* `step`: The step size to use when slicing the string. The default value is `1`.

In [33]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'

print(alphabet[-1:])
print(alphabet[::-1])

z
zyxwvutsrqponmlkjihgfedcba

String Formatting

In [34]:
pi = 3.14159265359
radius = 10

f"The area of a circle with radius {radius} is {pi * radius ** 2}"

'The area of a circle with radius 10 is 314.159265359'

### SESSION 4: LISTS & TUPLES

In [38]:
list_1 = [1, 1.5, "hola", [1, 2, 3]]
abc = list("abcdefghijklmnopqrstuvwxyz")
my_list = ["a", [[1, 2, ["ab", "ghi"]], ["a", "b", [1, 2, 3]]], [23, 45]]

print(list_1.index([1, 2, 3]))
print(abc[::2])
print(my_list[1][0][2][1][:-1])

3
['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']
gh

In [40]:
print([1, 2, 3] + ["a", "b", "c"])
print(["a", "b", "c"] * 4)

[1, 2, 3, 'a', 'b', 'c']
['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
a = [1, 2, 6]

a[2] = "h"

print(a)
print(a.pop()) #get's the last value

[1, 2, 'h']
h

In [44]:
h = ["z", "1", "a", "d"]

h.sort()

h

['1', 'a', 'd', 'z']

RANGE()

In [ ]:
range(1, 10, 2) #Â all numbers between 1 and 9 skipping every second number
list(range(1, 10, 2))

ZIP()

In [46]:
list_a = ['a', 'b', 'c']
list_b = [1, 2, 3]

zip(list_a, list_b)
list(zip(list_a, list_b))

[('a', 1), ('b', 2), ('c', 3)]

ENUMERATE()

In [47]:
list(enumerate(['x', 'y', 'z']))

[(0, 'x'), (1, 'y'), (2, 'z')]

### SESSION 5: SETS & DICTIONARIES

In [ ]:
set1 = {1, 1, 2, 2, 3, 3}
set2 = set([1, 1, 2, 2, 3, 3])


print(set1)
print(set2)
print(set(list("savannah"))) # for unique characters

{1, 2, 3}
{1, 2, 3}
{'a', 'h', 's', 'v', 'n'}

Say we have two sets: `A` and `B`

* Union of `A` and `B`: items appearing in either. Use `|` or A.union(B)
* Intersection of `A` and `B`: items appearing in both. Use `&` or A.intersection(B)
* Difference of `A` and `B`: items in `A` but not in  `B`. Use `-` or A.difference(B)
* Symmetric difference of `A` and `B`: items in only `A` or only `B`, but not in both. Use `^` or A.symmetric_difference(B)

In [52]:
setA = {2, 3, 5, 7}
setB = {1, 3, 5, 7, 9}
setC = {8, 6}

print(setA | setB)
print(setA & setB)
print(setA - setB)
print(setA ^ setB)

{1, 2, 3, 5, 7, 9}
{3, 5, 7}
{2}
{1, 2, 9}

We can't mutate sets, but we can add items to a set by using `update()`. This will add the new items *in place*.

In [54]:
setA.update(setC) # same as union

print(setA)

{2, 3, 5, 6, 7, 8}

In [57]:
ages_dict = {
    "dani": 36,
    "churro": 11,
}

print(ages_dict["churro"])
print(ages_dict.get('dani'))

new_additions = {
    'chevin': 99,
    'maureen': 99 
}

ages_dict.update(new_additions)

print(ages_dict)

11
36
{'dani': 36, 'churro': 11, 'chevin': 99, 'maureen': 99}

In [58]:
another_dict = dict([("dani", 35), ("churro", 10)])

another_dict

{'dani': 35, 'churro': 10}

In [59]:
dict(
    zip(
        ['a', 'b', 'c'],
        [1, 2, 3]
    )
)

{'a': 1, 'b': 2, 'c': 3}

In [60]:
dict(
    enumerate(
        ["a", "b", "c"]
    , start = 1)
)

{1: 'a', 2: 'b', 3: 'c'}

We can extract the keys and values as a list of tuples when using the method `items()` on a dictionary.

This will be very useful when looping through dictionaries.

In [ ]:
ages_dict.items()

dict_items([('dani', 36), ('churro', 11), ('chevin', 99), ('maureen', 99)])

In [ ]:
keys = list(ages_dict.keys())
values = list(ages_dict.values())

We can't directly sort a dictionary by its keys, we can use some tricks to sort them according to what we want:
1. Use `dict.items()` to convert it into a list of tuples
2. Order the list according to the first element in each tuple
3. Convert the sorted list of tuples into a dictionary again

In [62]:
new_dict_items = ages_dict.items() # 1

list_new_dict_items = list(new_dict_items) #Â 1

sorted_list = sorted(list_new_dict_items) # 2

dict(sorted_list) # 3

{'chevin': 99, 'churro': 11, 'dani': 36, 'maureen': 99}

In [64]:
sorted_people_dict = dict(sorted(ages_dict.items(), key = lambda item: item[1])) #sorting by value
sorted_people_dict_reverse = dict(sorted(ages_dict.items(), key=lambda item: -item[1]))

print(sorted_people_dict_reverse)
print(sorted_people_dict)

{'chevin': 99, 'maureen': 99, 'dani': 36, 'churro': 11}
{'churro': 11, 'dani': 36, 'chevin': 99, 'maureen': 99}

### SESSION 8: LOOPS & COMPREHENSIONS

In [3]:
for number in range(11):
    if number % 2 == 0:
        print('here we continue')
        continue
    print(number)

here we continue
1
here we continue
3
here we continue
5
here we continue
7
here we continue
9
here we continue

In [5]:
a = 5

while a <= 10:
    if a == 7:
        print('here comes the break')
        break
    print(a)
    a += 1

5
6
here comes the break

In [7]:
divisible = [item for item in range(1, 100) if item % 7 == 0]
print(divisible)

list_2 = [number for number in range(1, 100) if number % 7 == 0 and number % 2 == 0]
print(list_2)

list_3 = ['by3' if i % 3 == 0 else 'not by3' for i in range(1, 100)]
print(list_3)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]
[14, 28, 42, 56, 70, 84, 98]
['not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3', 'not by3', 'not by3', 'by3']

### SESSION 10: FUNCTIONS

```Python
def func_name(argument_1, argument_2, ..., argument_n):
    using_the_arguments_somehow
    return output_1, output_2, ..., output_m
```