# Video and Links to set up

https://www.youtube.com/watch?v=49yQ-bdj4Ww

Links to Install:  
#java   
https://www.oracle.com/java/technolog...  
#python :  
https://www.python.org/downloads/rele...  
#spark :  
https://spark.apache.org/downloads.html  
#WinUtils File  
https://github.com/cdarlint/winutils  
#vscode :  
https://code.visualstudio.com/download

Steps:  
1. Create "spark" folder in C:
2. Unzip spark download inside "spark" folder (no need to keep subfolders)
3. Install latests win utils
4. Create "hadoop" folder in C: and "bin" subfolder inside "hadoop" folder
5. Copy winutils.exe into "hadoop/bin" folder
6. Make sure in program files there is Java/openjdk-11 (what you get from first link)
7. Set up environment variables
    1. SPARK_HOME = C:\spark
    2. HADOOP_HOME = C:\hadoop
    3. JAVA_HOME = C:\program files\Java\openjdk-11
    4. Make sure there is a path to python
    5. Make sure there are no duplicate paths
    6. SPARK_LOCAL_HOSTNAME = localhost
8. Test that it works go into cmd and type spark-shell or pyspark

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

In [2]:
spark

In [4]:
df = spark.read.format("csv").option("header", True).load(r'C:\Users\SLO\Documents\GitHub\IE-University\07_MODERN_DATA_ARCHITECTURES\titanic.csv')

In [5]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|     13| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [7]:
df.show(1, vertical = True)

-RECORD 0---------------------------
 PassengerId | 1
 Survived    | 0
 Pclass      | 3
 Name        | Braund, Mr. Owen ...
 Sex         | male
 Age         | 22
 SibSp       | 1
 Parch       | 0
 Ticket      | A/5 21171
 Fare        | 7.25
 Cabin       | NULL
 Embarked    | S
only showing top 1 row