# Mid-term Exam

In this exam you will work on the following concepts:

* Handling dates and times in Python and Pandas
* Handling text data in Pandas with regular expressions
* Interacting with APIs to get data
* Basic concepts of Object Oriented Programming

The two APIs that you will use are:

* [Open Notify](http://open-notify.org/Open-Notify-API/): an API that provides information about the International Space Station (ISS).
* [Kanye Rest](https://kanye.rest/): an API that provides quotes from Kanye West.

Rules:
- The time limit is 80 minutes.
- Every solution must be written in Python, and the result must be printed or returned.
- 5 minutes before the end, a warning will be given to submit what you have so far. No submissions will be accepted after the end of the exam.
- You can resubmit as many times as you want.
- The exam is open-book, open-notes, open-internet, open-everything except for communicating with anyone by any means, sharing solutions, or using AI in any form.
    - The student that doesn't comply with these rules will fail immediately and reported to the university.
- If you have a question, please raise your hand. I will come to you.
- For every exercise with a single solution, the solution is provided, but you need to write the code to solve it.
- If you couldn't solve an exercise and you need the solution, you can copy my solution at a penalty of 75% of the exercise's grade.
    - E.g. on exercise 1 (1 point) you don't know the solution, but you need it for exercise 2 (1 point). You can copy the solution, but the maximum grade you can get on exercise 2 is 25% of the points. The total grade in both exercises will be 0.25 points.


Submission:
- Before the end of the exam, submit the exam using the link provided in the mid-term exam announcement.
- Only submit the completed notebook, no other files are needed, only the `.ipynb` file.

## Exam theme.

Following the recent events, the ISS is repurposing its mission. They think that what the world needs now is Kanye, sweet Kanye.

They have come up with a business idea which is to have the ISS display Kanye West quotes in the sky. You are the first employee in the new Kanye West Space Program (KWSP). 

Everything you build should be done in a class called `KanyeSpace`.

## Exercise 1 (1 point)

Using the ISS API, build a function called `get_iss_position` that gets the current position of the ISS and returns it as a tuple with the latitude and longitude as floats.

In [79]:
import pandas as pd
import requests



# response = requests.get(url).json()

# pd.DataFrame(response)

def get_iss_position(url):
    response = requests.get(url)
    dictionary = response.json()['iss_position']
    tuple1 = (dictionary['longitude'], dictionary['latitude'])
    return tuple1

url = 'http://api.open-notify.org/iss-now.json'
# response = requests.get(url).json()

# pd.DataFrame(response)
get_iss_position(url)

('-35.6773', '49.1517')

## Exercise 2 (1 point)

Using the Kanye Rest API, build a function called `get_kanye_quote` that gets a quote from Kanye West and returns it as a string.

In [ ]:
def get_kanye_quote(url):
    response = requests.get(url)
    return response.json()['quote']

url = 'https://api.kanye.rest'

get_kanye_quote(url)
type(get_kanye_quote(url))

str

## Exercise 3 (1 point)

Create a class called `KanyeSpace`. This class should have the following methods:

* `__init__(self)`: This method should initialize the class.
    * It should have an attribute called `pilot_name` that you pass when creating an instance of the class.
* `get_kanye_quote(self)`: This method should return a random Kanye West quote as a string. You can use the [Kanye Rest API](https://kanye.rest/).
* `get_iss_position(self)`: This method should return the current position of the ISS as a tuple with the latitude and longitude as floats. You can use the [Open Notify API](http://open-notify.org/Open-Notify-API/).

Then print the following:

* The name of the pilot.
* A random Kanye West quote.
* The current position of the ISS.

In [ ]:
class KanyeSpace():

    def __init__(self, name):
        self.pilot_name = name
        self.kanye_url = 'https://api.kanye.rest'
        self.iss_url = 'http://api.open-notify.org/iss-now.json'
    
    def get_kanye_quote(self):
        response = requests.get(self.kanye_url)
        return response.json()['quote']
    
    def get_iss_position(self):
        response = requests.get(self.iss_url)
        dictionary = response.json()['iss_position']
        tuple1 = (dictionary['latitude'], dictionary['longitude'])
        return tuple1

test = KanyeSpace('John')

print(test.pilot_name)
print(test.get_kanye_quote())
print(test.get_iss_position())

John
Winning is the only option
('1.4231', '29.7667')

In [53]:
url = 'http://api.open-notify.org/iss-now.json'

response = requests.get(url).json()
response

{'timestamp': 1739283174,
 'message': 'success',
 'iss_position': {'longitude': '-104.4148', 'latitude': '39.9765'}}

## Exercise 4 (1 points)

Let's test the `KanyeSpace` class.

Using the `get_kanye_quote` method from the `KanyeSpace` class, create a DataFrame with 20 Kanye West quotes, and the following columns:

* The quote number (starting from 1): column name `quote_id`
* The quote itself: column name `quote`
* The length of the quote: column name `quote_length`
* The amount of spaces in the quote: column name `n_spaces`
* The amount of 3-letter words in the quote: column name `n_3_letter_words`

You should use regular expressions to count the spaces and 3-letter words.

If you use more than 20 calls to the API, you will get a penalty of 2 points.

In [101]:
df = pd.DataFrame()

df['quote_id'] = range(1, 21)
df['quote'] = [test.get_kanye_quote() for i in range(1, 21)]
df['quote_length'] = df['quote'].str.len()
df['n_spaces'] = df['quote'].str.findall(r'\s+').str.len()
df['n_3_letter_words'] = df['quote'].str.findall(r'\b\w{3}\b').str.len()

df

,quote_id,quote,quote_length,n_spaces,n_3_letter_words
0,1,Buy property,12,1,1
1,2,Speak God's truth to power,26,4,1
2,3,We used to diss Michael Jackson the media made...,89,17,3
3,4,There are people sleeping in parking lots,41,6,1
4,5,I want the world to be better! All I want is p...,78,16,3
5,6,We've gotten comfortable with not having what ...,56,8,1
6,7,Keep squares out yo circle,26,4,1
7,8,All the musicians will be free,30,5,2
8,9,I spoke to Dave Chapelle for two hours this mo...,82,15,4
9,10,My memories are from the future,31,5,2
10,11,Trust me ... I won't stop,25,5,1
11,12,The world needs more Joy... this idea is super...,52,9,2
12,13,For me giving up is way harder than trying.,43,8,2
13,14,Sometimes you have to get rid of everything,43,7,3
14,15,The world needs more Joy... this idea is super...,52,9,2
15,16,There are 5 main pillars in a professional mus...,127,18,2
16,17,I am running for President of the United States,47,8,2
17,18,Today is the best day ever and tomorrow's goin...,65,12,3
18,19,My mother in law Kris Jenner ... makes the bes...,62,11,2
19,20,My mama was a' English teacher. I know how to ...,127,25,7

## Exercise 5 (1 point)

How many different words have you found in the quotes? Create a function called `get_nunique_words` that returns the number of unique words in the column `quote` of the dataframe.

**Hint**: if you didn't solve exercise 4, you can use the CSV file `kanye_quotes.csv` that is provided in the exam folder to answer this question.

**Extra**: if you solve it without a for loop, you will get an extra 0.5 points.

In [52]:
def get_nunique_words(df):
    unique = set(df['quote'].str.lower().str.findall("\w+").sum())
    return len(unique)

print(get_nunique_words(df))

121

## Exercise 6 (1 point)

Let's go back to the `KanyeSpace` class. We need to build the display system for the ISS.

Create a method called `display_quote` that returns a string with the following format:

```python
"Kanye says: {quote} {current_timestamp}"
```

For example: `"Kanye says: I wish I had a friend like me 2025-01-01 12:34:56"`

Use the current timestamp for the quote. Without milliseconds. Kanye doesn't like milliseconds.

In [ ]:
class KanyeSpace():

    def __init__(self, name):
        self.pilot_name = name
        self.kanye_url = 'https://api.kanye.rest'
        self.iss_url = 'http://api.open-notify.org/iss-now.json'
    
    def get_kanye_quote(self):
        response = requests.get(self.kanye_url)
        return response.json()['quote']
    
    def get_iss_position(self):
        response = requests.get(self.iss_url)
        dictionary = response.json()['iss_position']
        tuple1 = (dictionary['longitude'], dictionary['latitude'])
        return tuple1
    
    def diplay_quote(self):
        timestamp = requests.get(self.iss_url).json()['timestamp']
        timestamp = pd.to_datetime(timestamp, unit = 's')
        return f'Kanye says: {self.get_kanye_quote()} {timestamp}'
    

test = KanyeSpace('John')
test.diplay_quote()

Kanye says: We all self-conscious. I'm just the first to admit it. 2025-02-11 14:21:03

"Kanye says: George Bush doesn't care about black people 2025-02-11 14:21:03"

## Exercise 7 (1 point)

Ok, the display works.

Let's run a test where we use `display_quote()` 5 times every 2 seconds. Save the results of the `display_quote()` method in a list called `quotes_list`.

Use `time.sleep` for the 'every 2 seconds' part.

In [73]:
from time import sleep

quotes_list = []
for i in range(5):
    quote = test.diplay_quote()
    quotes_list.append(quote)
    sleep(2)

print(quotes_list)

Kanye says: We must and will cure homelessness and hunger. We have the capability as a species 2025-02-11 14:21:54
Kanye says: Life is the ultimate gift 2025-02-11 14:21:56
Kanye says: Keep your nose out the sky, keep your heart to god, and keep your face to the rising sun. 2025-02-11 14:21:59
Kanye says: Perhaps I should have been more like water today 2025-02-11 14:22:01
Kanye says: I feel calm but energized 2025-02-11 14:22:04
['Kanye says: We will be recognized 2025-02-11 14:21:54', 'Kanye says: Sometimes I push the door close button on people running towards the elevator. I just need my own elevator sometimes. My sanctuary. 2025-02-11 14:21:56', 'Kanye says: We will change the paradigm 2025-02-11 14:21:59', 'Kanye says: There are people sleeping in parking lots 2025-02-11 14:22:01', "Kanye says: People always tell you 'Be humble. Be humble.' When was the last time someone told you to be amazing? Be great! Be awesome! Be awesome! 2025-02-11 14:22:04"]

## Exercise 8 (1 point)

Now convert that `quotes_list` to a DataFrame called `quotes_df` with the following columns:

* The quote itself: column name `quote`
* The timestamp of the quote: column name `timestamp`. If you use regex to extract the timestamp, you will get an extra 0.5 points.

For example, if the quote is `"Kanye says: I wish I had a friend like me 2025-01-01 12:34:56"`, the dataframe should have the following values:

| quote | timestamp |
|-------|-----------|
| I wish I had a friend like me | 2025-01-01 12:34:56 |

If you didnt solve exercise 7, you can use the following list to create the DataFrame, at a penalty of 0.75 points:

```python
['Kanye says: So many of us need so much less than we have especially when so many of us are in need 2025-02-06 21:01:47',
'Kanye says: Perhaps I should have been more like water today 2025-02-06 21:01:49',
"Kanye says: I'm giving all Good music artists back the 50% share I have of their masters 2025-02-06 21:01:51",
"Kanye says: My mama was a' English teacher. I know how to use correct English but sometimes I just don't feel like it aaaand I ain't got to 2025-02-06 21:01:54",
'Kanye says: Believe in your flyness...conquer your shyness. 2025-02-06 21:01:57']
```

## Exercise 9 (1 point)

Back to the `KanyeSpace` class.

Update the `display_quote` method to include the position of the ISS. The format should be:

```python
"Kanye says: {quote} {current_timestamp} {latitude} {longitude}"
```

In [84]:
class KanyeSpace():

    def __init__(self, name):
        self.pilot_name = name
        self.kanye_url = 'https://api.kanye.rest'
        self.iss_url = 'http://api.open-notify.org/iss-now.json'
    
    def get_kanye_quote(self):
        response = requests.get(self.kanye_url)
        return response.json()['quote']
    
    def get_iss_position(self):
        response = requests.get(self.iss_url)
        dictionary = response.json()['iss_position']
        tuple1 = (dictionary['latitude'], dictionary['longitude'])
        return tuple1
    
    def diplay_quote(self):
        timestamp = requests.get(self.iss_url).json()['timestamp']
        timestamp = pd.to_datetime(timestamp, unit = 's')
        position = self.get_iss_position()
        return f'Kanye says: {self.get_kanye_quote()} {timestamp} {position[0]} {position[1]}'
    

test = KanyeSpace('John')
test.diplay_quote()

"Kanye says: I've known my mom since I was zero years old. She is quite dope. 2025-02-11 14:28:21 45.2768 -23.0655"

## Exercise 10 (1 point)

Now we need to check the costs. The cost of the display depends on the position of the ISS, because some weird contract with Starlink.

The cost is calculated as follows:

* If the ISS is above the equator, the cost is 150 Dogecoins per word in the quote.
* If the ISS is below the equator, the cost is 50 Dogecoins per word in the quote.

You can know if the ISS is above or below the equator by checking the latitude: if it's positive, it's above the equator, if it's negative, it's below the equator.

Create a method called `get_quote_cost` that returns the cost of the quote based on the position of the ISS.

Then update the `display_quote` method to display the cost of the quote as well.

For example:

```python
"Kanye says: One day I'm gon' marry a porn star 2025-02-06 21:12:35 6.0653 -32.5592 1200DOGE"
```

8 words times 150 Dogecoins = 1200 Dogecoins. Don't be too picky about counting words, just split by spaces.

In [ ]:
class KanyeSpace():

    def __init__(self, name):
        self.pilot_name = name
        self.kanye_url = 'https://api.kanye.rest'
        self.iss_url = 'http://api.open-notify.org/iss-now.json'
    
    def get_kanye_quote(self):
        response = requests.get(self.kanye_url)
        return response.json()['quote']
    
    def get_iss_position(self):
        response = requests.get(self.iss_url)
        dictionary = response.json()['iss_position']
        tuple1 = (dictionary['latitude'], dictionary['longitude'])
        return tuple1
    
    def diplay_quote(self):
        timestamp = requests.get(self.iss_url).json()['timestamp']
        timestamp = pd.to_datetime(timestamp, unit = 's')
        position = self.get_iss_position()
        return f'Kanye says: {self.get_kanye_quote()} {timestamp} {position[0]} {position[1]}'
    
    def get_quote_cost(self):
        # lat+ = above
        position = self.get_iss_position()
        quote = self.get_kanye_quote()
        if float(position[0]) > 0:
            cost = quote.findall(r'\b\w+\b').str.len() * 150
        else:
            cost = quote.findall(r'\b\w+\b').str.len() * 50
        return cost
    

test = KanyeSpace('John')
test.get_quote_cost()

AttributeError: 'str' object has no attribute 'findall'

## Exercise 11 (1 point)

Time to send the final report to the authorities to get the approval for the project.

Using the different methods of the `KanyeSpace` class, create a DataFrame with 5 different quotes, including these columns:

* The quote itself: column name `quote`
* The position of the ISS: column name `position`
* The cost of the quote: column name `cost`
* The latitude of the ISS: column name `latitude`
* The longitude of the ISS: column name `longitude`

## Exercise 12 (1 point)

What's your favorite Kanye West quote?

In [102]:
df

,quote_id,quote,quote_length,n_spaces,n_3_letter_words
0,1,Buy property,12,1,1
1,2,Speak God's truth to power,26,4,1
2,3,We used to diss Michael Jackson the media made...,89,17,3
3,4,There are people sleeping in parking lots,41,6,1
4,5,I want the world to be better! All I want is p...,78,16,3
5,6,We've gotten comfortable with not having what ...,56,8,1
6,7,Keep squares out yo circle,26,4,1
7,8,All the musicians will be free,30,5,2
8,9,I spoke to Dave Chapelle for two hours this mo...,82,15,4
9,10,My memories are from the future,31,5,2
10,11,Trust me ... I won't stop,25,5,1
11,12,The world needs more Joy... this idea is super...,52,9,2
12,13,For me giving up is way harder than trying.,43,8,2
13,14,Sometimes you have to get rid of everything,43,7,3
14,15,The world needs more Joy... this idea is super...,52,9,2
15,16,There are 5 main pillars in a professional mus...,127,18,2
16,17,I am running for President of the United States,47,8,2
17,18,Today is the best day ever and tomorrow's goin...,65,12,3
18,19,My mother in law Kris Jenner ... makes the bes...,62,11,2
19,20,My mama was a' English teacher. I know how to ...,127,25,7

In [104]:
quote = df[df['quote'].str.match(r'Buy property')]
quote

   quote_id         quote  quote_length  n_spaces  n_3_letter_words
0         1  Buy property            12         1                 1