### SQL Intro

In [ ]:
--Selecting first name and age from database Customers
SELECT first_name, age
FROM Customers;

In [ ]:
--Selecting all data from database Customers
SELECT *
FROM Customers;

In [ ]:
--Selecting all unique values in column country
SELECT DISTINCT country
FROM Customers;

#### Exercises

In [ ]:
--Fetch all data in the orders table
SELECT *
FROM Orders;

In [ ]:
--Fetch all data in the shippings table
SELECT *
FROM Shippings;

In [ ]:
--Fetch order_id and customer_id from orders table
SELECT order_id, customer_id
FROM Orders;

In [ ]:
--Fetch the distinct countries where customers are living
SELECT DISTINCT country
FROM Customers;

In [ ]:
--Fetch the distinct items that customers have ordered
SELECT DISTINCT item
FROM Orders;

In [ ]:
--Fetch the distinct statuses of orders
SELECT DISTINCT status
FROM Orders;

### Adding Clauses

In [ ]:
SELECT *
FROM Customers
WHERE age > 25;

In [ ]:
SELECT *
FROM Customers
WHERE first_name = 'John'
AND country = 'UK';

In [ ]:
SELECT *
FROM Customers
WHERE first_name = 'Robert' OR 'John';

#### Exercises

In [ ]:
SELECT *
FROM Customers
WHERE age >= 25;

In [ ]:
--Filter customers that do not live in UAE
SELECT first_name, last_name, age
FROM Customers
WHERE country != UAE;

In [ ]:
--Filter orders which amount is less than 500
SELECT DISTINCT *
FROM orders
WHERE amount < 500;

In [ ]:
--Filter customers with last name of Doe that live in UAE
SELECT first_name, last_name, age
FROM Customers
WHERE last_name = 'Doe'
AND country = 'UAE';

In [ ]:
--Filter customers that are living in UK or older than 30 years
SELECT customer_id, first_name, last_name, age
FROM Customers
WHERE country = 'UK'
OR age > 30;

### Order By & Limit

In [ ]:
SELECT *
FROM Customers
ORDER BY age;

In [ ]:
SELECT *
FROM Customers
ORDER BY age DESC;

In [ ]:
SELECT *
FROM Customers
LIMIT 2;

### Joins

In [ ]:
SELECT *
FROM Customers
INNER JOIN orders ON
customer.customer_id = orders.customer_id;

#### Exercises

In [ ]:
--Retrieve all customers who have placed an order
SELECT first_name, last_name, item, amount
FROM Customers
INNER JOIN orders ON
Customers.customer_id = Orders.customer_id
ORDER BY amount DESC;

In [ ]:
--Retrieve all customers with orders and shippings - filter the ones that have no data
SELECT *
FROM Customers
LEFT JOIN Orders 
ON Customers.customer_id = Orders.customer_id
LEFT JOIN Shippings
ON Customers.customer_id = Shippings.customer;
WHERE Shippings.status = 'Pending'

### Debugging Best Practice