Links to Install:  
#java   
https://www.oracle.com/java/technolog...  
#python :  
https://www.python.org/downloads/rele...  
#spark :  
https://spark.apache.org/downloads.html  
#WinUtils File  
https://github.com/cdarlint/winutils  
#vscode :  
https://code.visualstudio.com/download

Steps:  
1. Create "spark" folder in C:
2. Unzip spark download inside "spark" folder (no need to keep subfolders)
3. Install latests win utils
4. Create "hadoop" folder in C: and "bin" subfolder inside "hadoop" folder
5. Copy winutils.exe into "hadoop/bin" folder
6. Make sure in program files there is Java/openjdk-11 (what you get from first link)
7. Set up environment variables
    1. SPARK_HOME = C:\spark
    2. HADOOP_HOME = C:\hadoop
    3. JAVA_HOME = C:\program files\Java\openjdk-11
    4. Make sure there is a path to python
    5. Make sure there are no duplicate paths
    6. SPARK_LOCAL_HOSTNAME = localhost
8. Test that it works go into cmd and type spark-shell or pyspark

https://www.youtube.com/watch?v=49yQ-bdj4Ww

In [26]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

In [27]:
spark

In [28]:
df = spark.read.format("csv").option("header", True).load(r'C:\Users\SLO\Documents\GitHub\IE-University\CSV_FILES\bank-loans.csv')

In [29]:
df.show()

+---+-----------+--------+-------------------+-------+-------+----+
|age|        job| marital|          education|default|housing|loan|
+---+-----------+--------+-------------------+-------+-------+----+
| 56|  housemaid| married|           basic.4y|     no|     no|  no|
| 57|   services| married|        high.school|unknown|     no|  no|
| 37|   services| married|        high.school|     no|    yes|  no|
| 40|     admin.| married|           basic.6y|     no|     no|  no|
| 56|   services| married|        high.school|     no|     no| yes|
| 45|   services| married|           basic.9y|unknown|     no|  no|
| 59|     admin.| married|professional.course|     no|     no|  no|
| 41|blue-collar| married|            unknown|unknown|     no|  no|
| 24| technician|  single|professional.course|     no|    yes|  no|
| 25|   services|  single|        high.school|     no|    yes|  no|
| 41|blue-collar| married|            unknown|unknown|     no|  no|
| 25|   services|  single|        high.school|     no|    yes|  no|
| 29|blue-collar|  single|        high.school|     no|     no| yes|
| 57|  housemaid|divorced|           basic.4y|     no|    yes|  no|
| 35|blue-collar| married|           basic.6y|     no|    yes|  no|
| 54|    retired| married|           basic.9y|unknown|    yes| yes|
| 35|blue-collar| married|           basic.6y|     no|    yes|  no|
| 46|blue-collar| married|           basic.6y|unknown|    yes| yes|
| 50|blue-collar| married|           basic.9y|     no|    yes| yes|
| 39| management|  single|           basic.9y|unknown|     no|  no|
+---+-----------+--------+-------------------+-------+-------+----+
only showing top 20 rows

In [30]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)

In [31]:
df.show(1, vertical = True)

-RECORD 0--------------
 age       | 56
 job       | housemaid
 marital   | married
 education | basic.4y
 default   | no
 housing   | no
 loan      | no
only showing top 1 row