# Session 1: Variables, types, and operations

Let's understand how can we pass values to a program and how to store them in memory. We will also learn about the different types of data that we can store in memory and how to perform operations on them.

## 0. Variables and objects

Variables and objects are the way we have to store and operate with data in Python. Variables tell Python where are we storing information in the memory, and Python interprets what type of information is there. 

Variables are *assigned* a value with `=`. 

Naming variables is usually a source of conflict in the real world. Try to always be as descriptive as possible about what a variable contains, always following these rules:
* Variables can't start with a number
* Variables can't contain special characters like @
* Variables can't be the Python reserved words (green words)

In Python, everything we create and store in memory is an object. Every variable we create is and object of a certain type, and objects usually have properties and methods.

Think of an car (object):
* It has properties: color, power, number of doors, price
* It has methods: open the door, break, accelerate, turn on lights, turn on AC, ...

Let's work with some of the most common objects, storing them into variables, and operating with them.

In [47]:
a = 'dani'

In [48]:
print(a)

dani

The `id` of a variable is the memory address where the object is stored. When we create variables, we place information in the memory, and the variable is just a reference to that memory address.

We can use the `id` function to check the memory address of a variable.
```python
a = 5
print(id(a))
```

In [49]:
a = 5

id(a)

4349002096

In [50]:
a = 5

b = a

print(id(a))
print(id(b))

4349002096
4349002096

In [1]:
a = 5

b = 5

print(id(a))
print(id(b))

1939753468272
1939753468272

## 1. Numeric types

### 1.1 int
`int` objects represents Integers like 1, 3, 18756394.

We create them by using their usual representation in English.

In [52]:
int_num = 17

In [53]:
type(int_num)

int

In [54]:
17 + 14

31

In [55]:
a = 7
b = 17

a / b

0.4117647058823529

### 1.2 float

`float` objects represent numbers with a fractional part like 1.5, 3.141592, 1000000.0007, etc.

We create them like `int`s with a decimal part after the decimal dot

In [56]:
float_num = 17.4

# remember not to assign values to a variable named 'float' or you will override the behavior of the 'float()' function

In [57]:
float_num

17.4

In [58]:
type(float_num)

float

In [59]:
float(65)

65.0

In [60]:
round(65.7)

66

In [61]:
a = 7

In [62]:
print(a)

7

### Operations with numeric types

We can sum(`+`), substract(`-`), divide(`/`), multiply(`*`), and power (`**`)

In [63]:
a = 6
b = 7.45

(a * b) / (b ** a)

0.0002614387068068006

In [64]:
# sqrt(65)

65 ** (1/2)

8.06225774829855

We can also use floored quotient (`//`) and modulo/remainder (`%`)

In [65]:
# regular division
17 / 3

5.666666666666667

In [66]:
# floored division
result_floored = 17 // 3
result_floored

5

In [67]:
# modulo
17 % 3

2

We can convert from `int` to `float` and viceversa

In [68]:
int(6.43)  # float to int

6

In [69]:
float(4)  # int to float

4.0

We can take the absolute value (or magnitude) of a numeric type by using `abs`

In [70]:
# I forgot this cell in our class:
# abs() will return the absolute value of a number -- the number without the sign

abs(-4)

4

In [71]:
abs(-4)

4

In [72]:
15 / 3

5.0

## 2. Text-sequence type

### 2.1 str

`str` represents *strings* of text-sequences. Strings are immutable sequences.

We create strings in different ways, all of them with the same properties and methods.

In [73]:
str1 = 'single quotes'
str2 = "double quotes"
str3 = """
triple
quotes
can span 
several 
lines
"""

print(str1)
print(str2)
print(str3)

single quotes
double quotes

triple
quotes
can span
several
lines

In [74]:
a = '''
hi
there
'''

a

'\nhi\nthere\n'

In [75]:
"I'm Daniel"

"I'm Daniel"

In [76]:
name = """DANiEL"""

name == "danIel"

False

## 3. Boolean type

Booleans (`bool`) represent truth: `True` or `False`

In [77]:
bool_variable = True

Booleans are assimilated as numbers: True is 1, False is 0

In [78]:
False == 0.00

True

In [79]:
True + False

1

In [80]:
True + True

2

In [81]:
True * 1

1

In [82]:
False * 1

0

Also, `bool` are the result of comparison operators like `==`, `!=`, `>`, `<`, `>=`, `<=`

* `==` is the equality operator, we use it to compare if two objects are equal
* `!=` is the inequality operator, we use it to compare if two objects are different
* `>` is the greater than operator
* `<` is the less than operator
* `>=` is the greater than or equal operator
* `<=` is the less than or equal operator

In [83]:
# equal operator

4 == 2*2

True

In [84]:
a = 5

a <= 2

False

In [85]:
a = 6

a != 4

True

Booleans are also the result of logic operations like `not`, `and`, `or`.

`not` negates the following statement:
* not True = False
* not False = True

In [86]:
not True

False

In [87]:
not False

True

`and` operations are True/False if **all** of the inputs are True/False

* True and True = True
* True and False = False
* False and True = False
* False and False = False

In [88]:
(type(4) == type(4.1)) and (not False)

## False and True

False



`and` operations are True/False if **all** of the inputs are True/False

* True and True = True
* True and False = False
* False and True = False
* False and False = False

`or` operations are True/False if **one** of the inputs are True/False

* True or True = True
* True or False = True
* False or True = True
* False or False = False

## 4. Exercises

4.1. Perform the following calculation: result is 15168.443661658159

$$\frac{4.156^{7.332} \cdot \sqrt{2.25}}{abs(4.35 / 1.28)}$$

In [1]:
(4.156 ** 7.332) * (2.25 ** (1/2)) / abs(4.35 / 1.28)

15168.443661658159

4.2. What's the result of this operation?

$$
((7 > 5) \text{ and } (5 < 1)) \text{ or } (8 \text{ // } 3 == 2)
$$

In [9]:
((7 > 5) and (5 < 1)) or (8 // 3 == 2)

True

4.3. How can we use a square root function in Python?

Rules: only using `**`

In [11]:
60 ** (1/2)

#or

60 ** 0.5

7.745966692414834