# Datetime Cheat Sheet in Python

## 1. **Types of Date and Time Data**
- **Timestamps**: Specific moments in time (e.g., "July 4th, 2015 at 7:00 AM").
- **Periods**: Fixed durations between a start and end time (e.g., "Year 2015").
- **Timedeltas**: Exact lengths of time (e.g., "22.56 seconds").

---

## 2. **Working with Native Python Datetimes**

### Importing Modules

In [1]:
from datetime import datetime
from dateutil import parser

### Creating a Datetime Object

In [2]:
dt = datetime(2023, 11, 7, 9, 6)  # Year, Month, Day, Hour, Minute
print(dt)  # Output: 2023-11-07 09:06:00

2023-11-07 09:06:00

### Parsing a String into a Datetime

In [3]:
date = parser.parse("December 12th, 2024")
print(date)  # Output: 2024-12-12 00:00:00

2024-12-12 00:00:00

---

## 3. **Formatting Dates with `strftime`**

In [4]:
date.strftime('%d-%B-%Y')  # '12-December-2024'
date.strftime('%B, %d %Y') # 'December, 12 2024'
date.strftime('%b %d')     # 'Dec 12'

'Dec 12'

[Full Format Codes](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes)

---

## 4. **Datetime Operations in Pandas**

### Importing Pandas

In [5]:
import pandas as pd
import numpy as np

### Timestamps, Periods, and Timedeltas

In [8]:
year = pd.Timestamp("2025")  # Represents the year 2025
p = pd.Period("2022-08-01")  # Represents the whole day

print(year)
print(p)

2025-01-01 00:00:00
2022-08-01

### Checking if a Timestamp is Inside a Period

In [9]:
timestamp = pd.Timestamp("2022-08-01 20:00")
p.start_time < timestamp < p.end_time  # True

True

---

## 5. **Creating Datetime from Strings**

### Converting a String to Datetime

In [11]:
dt_s = pd.Series(["2023-01-01", "2023-01-02"])
dt_s_converted = pd.to_datetime(dt_s)

print(dt_s_converted)

0   2023-01-01
1   2023-01-02
dtype: datetime64[ns]

### Parsing Multiple Formats

In [13]:
dates = pd.to_datetime(["2 of December, 2024", "3 of December, 2024"], format='%d of %B, %Y')
print(dates)

DatetimeIndex(['2024-12-02', '2024-12-03'], dtype='datetime64[ns]', freq=None)

### Creating Timedeltas

In [14]:
span = pd.to_timedelta(1.666667, unit="H")
print(span)  # Timedelta('0 days 01:40:00.001200')

0 days 01:40:00.001200

C:\Users\SABIO\AppData\Local\Temp\ipykernel_46320\4148084025.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  span = pd.to_timedelta(1.666667, unit="H")

---

## 6. **Indexing by Time in Pandas**

In [15]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
print(data['2014'])  # Extracts data from 2014

2014-07-04    0
2014-08-04    1
dtype: int64

---

## 7. **Creating Sequences of Dates**

In [17]:
daily = pd.date_range('2015-07-03', '2015-07-20', freq='D')  # Daily Range
hourly = pd.date_range('2015-07-03', '2015-07-10', freq='H')  # Hourly Range
set_amount_of_periods = pd.date_range('2015-07', periods=8)  # 8 Days in July 2015

print(daily)
print(hourly)
print(set_amount_of_periods)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10',
               '2015-07-11', '2015-07-12', '2015-07-13', '2015-07-14',
               '2015-07-15', '2015-07-16', '2015-07-17', '2015-07-18',
               '2015-07-19', '2015-07-20'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00', '2015-07-03 05:00:00',
               '2015-07-03 06:00:00', '2015-07-03 07:00:00',
               '2015-07-03 08:00:00', '2015-07-03 09:00:00',
               ...
               '2015-07-09 15:00:00', '2015-07-09 16:00:00',
               '2015-07-09 17:00:00', '2015-07-09 18:00:00',
               '2015-07-09 19:00:00', '2015-07-09 20:00:00',
               '2015-07-09 21:00:00', '2015-07-09 22:00:00',
               '2015-07-09 23:00:00', '2015-07-10 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='h')
DatetimeIndex(['2015-07-01', '2015-07-02', '2015-07-03', '2015-07-04',
               '2015-07-05', '2015-07-06', '2015-07-07', '2015-07-08'],
              dtype='datetime64[ns]', freq='D')

C:\Users\SABIO\AppData\Local\Temp\ipykernel_46320\3583693377.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly = pd.date_range('2015-07-03', '2015-07-10', freq='H')  # Hourly Range

---

## 8. **Resampling & Frequency Conversion**

### Downsampling

In [ ]:
goog_resample = goog.resample('M').mean()  # Monthly Average
goog_freq = goog.asfreq('M')  # Last Value of the Month

### Upsampling with Forward Fill

In [ ]:
goog_d_fill = goog.asfreq('D', method='bfill')  # Fill missing values with next available value

---

## 9. **Time Shifting**

In [ ]:
goog_shift = goog.shift(periods=1)  # Shift data by 1 day forward

---

## 10. **Rolling Windows**

In [ ]:
goog.rolling(30).mean()  # 30-day rolling mean
goog.rolling(30).std()   # 30-day rolling standard deviation

---

## 11. **Extracting Date Parts with `.dt`**

In [25]:
data = pd.DataFrame({
    "date": pd.to_datetime(['2022-01-01', '2022-02-01', '2022-03-01']),
    "values": [12, 23, 435]
})

df = data.copy()
df

        date  values
0 2022-01-01      12
1 2022-02-01      23
2 2022-03-01     435

In [24]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['day_of_week'] = df['date'].dt.day_of_week

df

        date  values  year  month  day  day_of_week
0 2022-01-01      12  2022      1    1            5
1 2022-02-01      23  2022      2    1            1
2 2022-03-01     435  2022      3    1            1

---

## 12. **Common Pandas Time Frequencies**

| Code  | Description          | Code  | Description            |
|-------|----------------------|-------|------------------------|
| D     | Calendar day        | B     | Business day           |
| W     | Weekly              | M     | Month end              |
| Q     | Quarter end         | A     | Year end               |
| H     | Hours               | T     | Minutes                |
| S     | Seconds             | L     | Milliseconds           |
| U     | Microseconds        | N     | Nanoseconds            |

Additional options:
- **Start of the period:** `MS` (Month Start), `QS` (Quarter Start), `AS` (Year Start)
- **End of the period:** `M` (Month End), `Q` (Quarter End), `A` (Year End)
- **Custom Frequencies:** `2H30T` (2 hours 30 minutes)

---