### Print Statement

In [5]:
print("Hello World")
print('Hello World')

print("'Hello World'")
print("Hello\nWorld")

Hello World
Hello World
'Hello World'
Hello
World

In [9]:
print("Test")
print(4 + 2)
print()
print(f"10/3 = {10/3}")

Test
6

10/3 = 3.3333333333333335

<p style=font-size:14px;> For printing code as text and for formatting what is executed as code <p>

### Variables

In [11]:
name = 'Spencer'
age = 300

print(name)
print(age)

Spencer
300

In [13]:
age += 1
print(age)

price_1 = 10
price_2 = 30

total_price = price_1 + price_2
print(total_price)

302
40

### Data Types

In [17]:
name = 'Spencer'
age = 300
number = 5.3
b = True
list = []
dic = {}

print(type(name)) #String
print(type(age)) #Integer
print(type(number)) #Float
print(type(b)) #Boolean
print(type(list)) #List
print(type(dic)) #Dictionary

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>

In [22]:
name = 'Spencer'
last_name = 'Wood'
full_name = name + last_name

print(full_name)
print(name, last_name)

print(type(full_name))

SpencerWood
Spencer Wood
<class 'str'>

### Exercises

In [27]:
# Age in 5 years
age = 50
age_in_five_years = age + 5
print("Age in 5 years:", age_in_five_years)

# Age in Dog Years
multiplier = 7
age_in_dog_years = age * multiplier
print("Age in dog years:", age_in_dog_years)

# Average of 5 Numbers
average = (1 + 2 + 3 + 4 + 5) / 5
print("Average of 5 numbers:", average)

Age in 5 years: 55
Age in dog years: 350
Average of 5 numbers: 3.0
3

In [28]:
from statistics import mean

# Using Mean (Not part of course yet)
list = [1, 2, 3, 4, 5]
average = mean(list)

print(average)

3

### Operations With Numbers

In [ ]:
1 + 1
1 - 1
1 * 1
1 / 1
1 % 1

### User Input

In [30]:
name = input("Please enter your name: ")
age = int(input("Please enter your age: "))

print("Hello", name, "\nYou are", age, "years old.")

Hello Spencer
You are 400 years old.